@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Bold.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Medium.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Regular.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Light.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fff;
}


.navbar-brand {
  max-width: 10rem;
}

.navbar-brand img {
  width: 100%;
  max-height: 35px;
  min-height: 30px;
}

.navbar-text {
  font-family: 'Cera Pro';
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.title-h1 {
  color: #222941;
  font-size: 45px;
  font-family: 'Cera Pro';
  line-height: 53px;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.text-p {
  color: #222941;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 21px;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.custom-card {
  border-width: 1px;
  border-radius: 20px;
  background-image: linear-gradient(0.347turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 100%);
  border-color: #ffffff;
  border-style: solid;
  padding: 22px 35px;
  position: relative;
  height: 460px;
}

.card-title {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.card-text {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.card-icon {
  width: 43px;
  height: 44px;
}

.icon-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 19px;
  font-weight: 500;
}

.more-btn {
  color: #ffffff !important;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: -0.5px;
  border-radius: 14px;
  background-image: linear-gradient(0.405turn, rgba(233, 34, 140, 1) 26%, rgba(155, 36, 120, 1) 99%);
  border-color: transparent;
  border-style: solid;
  transition: background-color 0s ease-in-out, color 0s ease-in-out, border-color 0s ease-in-out;
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}

.card-img {
  border-width: 1px;
  border-radius: 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: #cad4e7;
  border-style: solid;
  border-width: 4px;
  position: absolute;
  top: 75%;
  left: 2%;
  max-width: 360px !important;
}

.divider-wb {
  height: 248px;
  background-image: linear-gradient(0.3472222222222222turn, rgba(125, 37, 111, 1) 0%, rgba(141, 41, 127, 1) 33%, rgba(188, 61, 150, 1) 66%, rgba(236, 35, 141, 1) 100%);
  z-index: 99;
  position: relative;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wb {
  border-radius: 25px;
  background-color: #ffc9eb;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 5px 55px -11px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.wb-notif {
  border-radius: 25px;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 154px;
}

.notificon {
  width: 33px;
  height: 33px;
}

.notif-text {
  color: #7d256f;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 21px;
  font-weight: 600;
  margin-top: 10px;
}

.wb-title {
  color: #333333;
  font-size: 25px;
  font-family: 'Cera Pro';
  line-height: 30px;
  font-weight: 600;
}

.wb-p {
  color: #333333;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 23px;
  font-weight: 500;
  margin-top: 8px;
}

.wbicon {
  width: 132px;
  height: 125px;
}

.divider-r {
  height: 250px;
  background-image: linear-gradient(0turn, rgba(44, 59, 115, 1) 0%, rgba(40, 47, 77, 1) 100%);
}

.divider-r-text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 31px;
  font-weight: 300;
  margin-left: 90px;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-title {
  text-transform: uppercase;
  color: #212842;
  font-size: 30px;
  font-family: 'Cera Pro';
  line-height: 33px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
  padding-top: 60px;
}

.instrument-card {
  padding: 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 386px;
  background-color: #ffffff;
}

.instrument-card-title {
  margin-bottom: 20px;
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  line-height: 1.35;
  font-size: 20px;
}

.instrument-card-text {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  line-height: 1.35;
  font-size: 16px;
}

.instrument-img-1 {
  background: url('../assets/img/inst1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.instrument-img-2 {
  background: url('../assets/img/inst2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.instrument-img-3 {
  background: url('../assets/img/inst3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.instrument-img-4 {
  background: url('../assets/img/inst4.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Cera Pro';
  color: #000000 !important;
  opacity: 0.6;
}

.nav-link.active {
  font-weight: 600;
  opacity: 1;
}

.title-h2 {
  font-weight: 600;
  font-family: 'Cera Pro';
  font-size: 28px;
  line-height: 1.17;
  color: #000;
}

.tab-text {
  color: #000;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
  font-family: 'Cera Pro';
}

.moremore {
  width: 263px !important;
  height: 60px !important;
}

.tab-content {
  border: 1px solid #eeeeee;
  padding: 40px;
}

.nav-tabs .nav-link.active {
  border-top: 3px solid #212842;
}

.divider {
  height: 420px;
  background-image: linear-gradient(0turn, rgba(44, 59, 115, 1) 0%, rgba(40, 47, 77, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.divider-text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 31px;
  font-weight: 300;
}

.divider-btn img {
  margin-top: 20px;
}

.opp-title {
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  line-height: 1.35;
}

.opp-text {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  line-height: 1.55;
}

.opp-block {
  margin-bottom: 60px;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url('data:image/svg+xml,<svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="%23222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
  position: relative;
  z-index: 1;
}

.accordion-button:hover::before {
  position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #eee;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="%23222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>');
  transform: rotate(-45deg);
}

.accordion-button {
  font-size: 24px;
  line-height: 1.35;
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  padding-left: 0;
  padding-bottom: 30px;
}

.accordion-body {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
}

.divider.tariff {
  height: 790px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-title {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 8px;
}

.price-text {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 18px;
  font-weight: 300;
}

.tariff-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 300;
}

.tariff-text strong {
  font-weight: 700;
}

.text {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  margin-bottom: 30px;
}

.collapseTitle {
  font-weight: 400;
  font-family: 'Cera Pro';
  cursor: pointer;
  color: #000 !important;
  border-bottom: dashed 1px #000000;
  text-decoration: none;
  display: inline;
  font-size: 22px;
  line-height: 1.35;
  width: max-content;
  margin-bottom: 30px;
}

.collapseText {
  font-size: 18px !important;
  line-height: 1.55;
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  padding-bottom: 56px;
}

.collapseText span {
  text-decoration: underline;
}

.collapseText p {
  margin-top: 20px;
}

.statya-title {
  margin-bottom: 90px;
  font-size: 42px;
  line-height: 1.23;
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
}

.statya-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.statya-cardTitle {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  font-family: 'Cera Pro';
  color: #000000 !important;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 15px;
}

.statya-text {
  line-height: 1.35;
  font-weight: 500;
  font-family: 'Cera Pro';
}

.footer {
  padding: 50px;
  background-image: linear-gradient(0turn, rgba(40, 65, 162, 1) 0%, rgba(49, 61, 111, 1) 100%);
  display: flex;
  align-items: center;
}

.logo {
  width: 148px;
  height: 28px;
}

.footer-text {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  opacity: 0.7;
  font-family: "Cera Pro";
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer-title {
  color: #ffffff !important;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-link {
  margin-bottom: 5px;
}

.footer-link  {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 400;
}

.footer-link a {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 400;
}

.col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.footer-under {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 400;
  opacity: 0.7;
  text-decoration: underline;
}

.marpla {
  color: #f8f8f8;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 300;
  opacity: 0.4;
}


@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}