@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Bold.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Medium.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Regular.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../assets/fonts/CeraPro-Light.woff2') format('woff2'),
      url('../assets/fonts/CeraPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

header {
  background-color: white; /* Optional: Adjust the background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
  z-index: 1030; /* Ensure it stays above other elements */
}

.reklama {
  position: fixed;
  top: 85%;
  z-index: 999;
}

.formButton {
  border-radius: 65px !important;
  box-shadow: 0 19px 38px 0 rgba(34, 36, 43, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin-bottom: 20px !important;
  position: relative;
  text-align: center;
  transform: scale(1);
  width: 65px;
  background: linear-gradient(95deg, rgb(129, 6, 94) 20%, rgb(250, 0, 175) 80%);
  position: fixed;
  top: 90%;
  right: 2%;
  z-index: 1051;
}

.offcanvas {
  background-color: #212842;
  padding: 40px 20px;
}

.off-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  color: #ffffff !important; 
  font-size: 17px;
  font-family: 'CeraPro', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-width: 1px;
  border-radius: 30px;
  background-position: center center;
  border-color: #ffffff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: absolute;
  right: 2%;
  top: 1%;
}

.head-text {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Cera Pro';
  line-height: 14px;
  font-weight: 400;
}

.off-icon {
  font-family: 'Cera Pro';
  border-radius: 55px;
  background-color: #aab8ef;
  background-position: center center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.off-link {
  color: #ffffff;
  font-size: 19px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.off-line {
  width: 100%;
  height: 1px;
  border: 1px solid #5d6892;
  border-bottom: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.off-head {
  color: #5d6892;
  font-size: 13px;
  font-family: 'Cera Pro';
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.tech-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 1.55;
  font-weight: 500;
  border-width: 1px;
  border-radius: 55px;
  background-position: center center;
  border-color: #ffffff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.navbar-brand {
  max-width: 10rem;
}

.navbar-brand img {
  width: 100%;
  max-height: 35px;
  min-height: 30px;
}

.navbar-text {
  font-family: 'Cera Pro';
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.title-h1 {
  color: #222941;
  font-size: 45px;
  font-family: 'Cera Pro';
  line-height: 53px;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.text-p {
  color: #222941;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 21px;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.custom-card {
  border-width: 1px;
  border-radius: 20px;
  background-image: linear-gradient(0.347turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 100%);
  border-color: #ffffff;
  border-style: solid;
  padding: 22px 35px;
  position: relative;
  height: 460px;
}

.card-title {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.card-text {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.card-icon {
  width: 43px;
  height: 44px;
}

.icon-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 19px;
  font-weight: 500;
}

.more-btn {
  color: #ffffff !important;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: -0.5px;
  border-radius: 14px;
  background-image: linear-gradient(0.405turn, rgba(233, 34, 140, 1) 26%, rgba(155, 36, 120, 1) 99%);
  border-color: transparent;
  border-style: solid;
  transition: background-color 0s ease-in-out, color 0s ease-in-out, border-color 0s ease-in-out;
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}

.card-img {
  border-width: 1px;
  border-radius: 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: #cad4e7;
  border-style: solid;
  border-width: 4px;
  position: absolute;
  top: 75%;
  left: 2%;
  max-width: 360px !important;
}

.divider-wb {
  height: 248px;
  background-image: linear-gradient(0.3472222222222222turn, rgba(125, 37, 111, 1) 0%, rgba(141, 41, 127, 1) 33%, rgba(188, 61, 150, 1) 66%, rgba(236, 35, 141, 1) 100%);
  z-index: 99;
  position: relative;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wb {
  border-radius: 25px;
  background-color: #ffc9eb;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 5px 55px -11px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.wb-notif {
  border-radius: 25px;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 154px;
}

.notificon {
  width: 33px;
  height: 33px;
}

.notif-text {
  color: #7d256f;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 21px;
  font-weight: 600;
  margin-top: 10px;
}

.wb-title {
  color: #333333;
  font-size: 25px;
  font-family: 'Cera Pro';
  line-height: 30px;
  font-weight: 600;
}

.wb-p {
  color: #333333;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 23px;
  font-weight: 500;
  margin-top: 8px;
}

.wbicon {
  width: 132px;
  height: 125px;
}

.divider-r {
  height: 250px;
  background-image: linear-gradient(0turn, rgba(44, 59, 115, 1) 0%, rgba(40, 47, 77, 1) 100%);
}

.divider-r-text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 31px;
  font-weight: 300;
  margin-left: 90px;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-title {
  text-transform: uppercase;
  color: #212842;
  font-size: 30px;
  font-family: 'Cera Pro';
  line-height: 33px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
  padding-top: 60px;
}

.instrument-card {
  padding: 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 386px;
  background-color: #ffffff;
}

.instrument-card-title {
  margin-bottom: 20px;
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  line-height: 1.35;
  font-size: 20px;
}

.instrument-card-text {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  line-height: 1.35;
  font-size: 16px;
}

.instrument-img-1 {
  background: url('../assets/img/inst1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.instrument-img-2 {
  background: url('../assets/img/inst2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.instrument-img-3 {
  background: url('../assets/img/inst3.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.instrument-img-4 {
  background: url('../assets/img/inst4.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Cera Pro';
  color: #000000 !important;
  opacity: 0.6;
}

.nav-link.active {
  font-weight: 600;
  opacity: 1;
}

.title-h2 {
  font-weight: 600;
  font-family: 'Cera Pro';
  font-size: 28px;
  line-height: 1.17;
  color: #000;
}

.tab-text {
  color: #000;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
  font-family: 'Cera Pro';
}

.moremore {
  width: 263px !important;
  height: 60px !important;
}

.tab-content {
  border: 1px solid #eeeeee;
  padding: 40px;
}

.nav-tabs .nav-link.active {
  border-top: 3px solid #212842;
}

.divider {
  height: 420px;
  background-image: linear-gradient(0turn, rgba(44, 59, 115, 1) 0%, rgba(40, 47, 77, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.divider-text {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 31px;
  font-weight: 300;
}

.divider-btn img {
  margin-top: 20px;
}

.opp-title {
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  line-height: 1.35;
}

.opp-text {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  line-height: 1.55;
}

.opp-block {
  margin-bottom: 60px;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url('data:image/svg+xml,<svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="%23222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
  position: relative;
  z-index: 1;
}

.accordion-button:hover::before {
  position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #eee;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg role="presentation" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1px" fill="none" fill-rule="evenodd" stroke-linecap="square"><g transform="translate(1.000000, 1.000000)" stroke="%23222222"><path d="M0,11 L22,11"></path><path d="M11,0 L11,22"></path></g></g></svg>');
  transform: rotate(-45deg);
}

.accordion-button {
  font-size: 24px;
  line-height: 1.35;
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  padding-left: 0;
  padding-bottom: 30px;
}

.accordion-body {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
}

.divider.tariff {
  height: 790px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-title {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 8px;
}

.price-text {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 18px;
  font-weight: 300;
}

.tariff-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 300;
}

.tariff-text strong {
  font-weight: 700;
}

.text {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  margin-bottom: 30px;
}

.collapseTitle {
  font-weight: 400;
  font-family: 'Cera Pro';
  cursor: pointer;
  color: #000 !important;
  border-bottom: dashed 1px #000000;
  text-decoration: none;
  display: inline;
  font-size: 22px;
  line-height: 1.35;
  width: max-content;
  margin-bottom: 30px;
}

.collapseText {
  font-size: 18px !important;
  line-height: 1.55;
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  padding-bottom: 56px;
}

.collapseText span {
  text-decoration: underline;
}

.collapseText p {
  margin-top: 20px;
}

.statya-title {
  margin-bottom: 90px;
  font-size: 42px;
  line-height: 1.23;
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
}

.statya-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.statya-cardTitle {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  font-family: 'Cera Pro';
  color: #000000 !important;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 15px;
}

.statya-text {
  line-height: 1.35;
  font-weight: 500;
  font-family: 'Cera Pro';
}

.footer {
  padding: 50px;
  background-image: linear-gradient(0turn, rgba(40, 65, 162, 1) 0%, rgba(49, 61, 111, 1) 100%);
  display: flex;
  align-items: center;
}

.logo {
  width: 148px;
  height: 28px;
}

.footer-text {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  opacity: 0.7;
  font-family: "Cera Pro";
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer-title {
  color: #ffffff !important;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-link {
  margin-bottom: 5px;
}

.footer-link  {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 400;
}

.footer-link a {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Cera Pro';
  line-height: 25px;
  font-weight: 400;
}

.col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.footer-under {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 400;
  opacity: 0.7;
  text-decoration: underline;
}

.marpla {
  color: #f8f8f8;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 300;
  opacity: 0.4;
}

.video-player {
  width: 65%;
}

.video-controller {
  width: 35%;
  background-color: rgb(33, 40, 66) !important;
  border-color: rgb(0, 0, 0);
  height: 450px;
}

.controller-text {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.35;
}

.video-tab {
  text-align: left;
  padding-left: 0;
  color: #ffffff !important;
  margin-left: 10px;
  margin-right: auto;
  flex-grow: 1;
  font-weight: 400;
  background: transparent !important;
  border: none !important;
  height: 53px;
  opacity: 1 !important;
  font-weight: 400 !important;
  font-size: 15px;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}

.video-tab span {
  font-size: 13px;
  color: #d1d1d1;
}

.video-text {
  color: #d1d1d1;
  margin-left: 6px;
  font-size: 14px;
  font-family: 'Cera Pro';
  font-weight: 300;
  line-height: 1.55;
}

.imgClose {
  position: absolute;
  top: -23%;
  right: -3%;
  width: 43px !important;
  height: 43px !important;
  color: #fff !important;
  background: transparent url('data:image/svg+xml,<svg role="presentation" class="t-popup__close-icon" width="23px" height="23px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="%23fff" fill-rule="evenodd"><rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect><rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) " x="10.3137085" y="-3.6862915" width="2" height="30"></rect></g></svg>') center / 1em auto no-repeat;
}

.bidder-p {
  color: #333333;
  font-size: 21px;
  font-family: 'Cera Pro';
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}

.info {
  border-radius: 14px;
  background-color: #d8def4;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  width: 750px;
  height: 95px;
  align-items: center;
}

.info-icon {
  height: 70px;
  width: 70px;
}

.info-title {
  color: #333333;
  font-size: 28px;
  font-family: 'Cera Pro';
  line-height: 1.2;
  font-weight: 600;
}

.info-text {
  color: #333333;
  font-size: 17px;
  font-family: 'Cera Pro';
  line-height: 1.2;
  font-weight: 500;
}

.info-btn {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.55;
  font-weight: 500;
  border-radius: 10px;
  background-image: linear-gradient(0.5turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 99%);
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  width: 280px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.info-arrow {
  position: absolute;
  right: 24%;
  top: -48%;
}

.imgItem {
  max-height: 520px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background-size: 68%, 89%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(178, 36, 126, 0.8);
}

.carousel-control-next, .carousel-control-prev { 
  opacity: 1;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 1;
}

.underImage {
  border-radius: 10px;
  background-image: linear-gradient(0.389turn, rgba(125, 37, 111, 1) 0%, rgba(236, 35, 141, 1) 100%);
  border-color: transparent;
  border-style: solid;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 24px;
  font-weight: 500;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}

.blue-text {
  background-color: #d8def4;
  display: flex;
  align-items: center;
  padding: 20px;
}

.title-h2 {
  color: #333333;
  font-size: 32px;
  font-family: 'Cera Pro';
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 30px;
}

.steps {
  border-radius: 55px;
  background-color: #36406c;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  color: #ffffff;
  font-size: 32px;
  font-family: 'Cera Pro';
  line-height: 38px;
  font-weight: 500;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-title {
  color: #333333;
  font-size: 25px;
  font-family: 'Cera Pro';
  line-height: 30px;
  font-weight: 600;
}
        
.step-text {
  color: #333333;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 500;
}

.adv-row {
  padding-bottom: 50px;
  border-bottom: 1px solid lightgrey;
}

.adv-img {
  width: 73px;
  height: 73px;
}

.adv-title {
  color: #333333;
  font-size: 25px;
  font-family: 'Cera Pro';
  line-height: 30px;
  font-weight: 600;
}

.divider.big {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(0.5turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 100%);
}

.goTop {
  border-radius: 10px;
  background-color: #f5f7ff;
  color: #333333;
  font-size: 22px;
  font-family: 'Cera Pro';
  line-height: 26px;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  text-decoration: none;
  width: 415px;
}

.topTitle {
  color: #fff;
  font-size: 35px;
  font-family: 'Cera Pro';
  line-height: 42px;
  font-weight: 600;
}

.topText {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 24px;
  font-weight: 500;
}

.topList {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Cera Pro';
  line-height: 20px;
  font-weight: 500;
  padding-left: 1rem;
}

.topBtn {
  background-image: linear-gradient(0.9722222222222222turn, rgba(125, 37, 111, 1) 0%, rgba(236, 35, 141, 1) 100%);
}

.topBtnText {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Cera Pro';
  line-height: 16px;
  font-weight: 400;
}

.techContainer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #7780a1;
  border-bottom: 1px solid #7780a1;
  padding: 16px;
}

.techText {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 24px;
  font-weight: 500;
}

.blue-inside {
  color: #333333;
  font-size: 22px;
  font-family: 'Cera Pro';
  line-height: 26px;
  font-weight: 600;
}

.small-block {
  border-radius: 14px;
  background-color: #f8f8f8;
  padding: 40px;
}

.red-block {
  border-radius: 14px;
  background-color: #ffe9f1;
  padding: 40px;
}

.block-step {
  background-image: linear-gradient(0.5turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 100%);
  border-radius: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 25px;
  font-family: 'Cera Pro';
  line-height: 30px;
  font-weight: 600;
  width: max-content;
  padding: 0 22px;
}

.block-text {
  color: #333333;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 22px;
  font-weight: 500;
  margin-top: 16px;
}

.stepRow {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.divider-small {
  border-radius: 10px;
  background-image: linear-gradient(0.5turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 100%);
  padding: 25px 50px;
}

.samovikup {
  padding-top: 60px;
  padding-bottom: 60px;
}

.samovikup-title {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Cera Pro';
  text-transform: uppercase;
  margin-bottom: 25px;
}

.samovikup-text {
  margin-bottom: 55px;
  font-size: 20px;
  line-height: 1.55;
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
}

.youtube-video {
  height: 650px;
}

.text-soderzh {
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  line-height: 1.55;
}

.text-soderzh strong {
  font-weight: 700;
}

.tsena-container {
  display: table-cell;
  padding: 60px;
  padding-right: 80px;
  background-color: rgb(239, 239, 239);
  height: 607px;
  position: absolute;
  width: 672px;
  right: 2%;
  top: 12%;
}

.tsena-title {
  color: #000000;
  font-weight: 400;
  font-family: 'Cera Pro';
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 42px;
  line-height: 1.23;
}

.tsena-line {
  background-color: #212842;
  opacity: 0.60;
  position: relative;
  display: block;
  max-width: 50px;
  width: 100%;
  height: 3px;
}

.tsena-text {
  font-size: 20px;
  line-height: 1.55;
  margin-top: 28px;
  color: #000000;
  font-family: 'Cera Pro';
  font-weight: 300;
}

.tsena-button {
  margin-top: 60px;
  color: #ffffff;
  background-color: #212842;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  height: 60px;
  width: 241px;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Cera Pro';
  border: 0 none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pTitle {
  font-size: 24px;
  line-height: 1.35;
  font-family: 'Cera Pro',;
  font-weight: 600;
  color: #000000;
}

.pText {
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: 'Cera Pro' !important;
  letter-spacing: 0.5px !important;
  padding-top: 22px;
  padding-bottom: 5px;
}

.pText a {
  color: #ff8562 !important;
}

.leftContainer {
  left: 0% !important;
  z-index: 1;
  height: 815px;
}

.rightContainer {
  position: relative;
  left: 50%;
  z-index: 0;
}

.botContainer {
  background: url("../assets/img/botbg.png");
  background-size: 100% 100%;
  height: 560px;
}

.leftBotContainer {
  width: 60%;
  position: relative;
  z-index: 1;
  padding: 60px 0 60px 110px;
}

.telegram {
  border-radius: 45670px;
  background-color: #58b9e4;
  height: 46px;
  width: 245px;
}

.telegramIcon {
  width: 41px;
  height: 41px;
}

.telegramText {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Cera Pro';
  line-height: 30px;
  font-weight: 600;
}

.botList {
  color: #333333;
  font-size: 18px;
  font-family: 'Cera Pro';
  font-weight: 500;
}

.botRating {
  position: absolute;
  right: 35%;
  bottom: 2%;
  width: 154px;
  height: 104px;
}

.botRatingText {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Cera Pro';
  line-height: 1.2;
  font-weight: 600;
}


.two-block {
  background: url("../assets/img/2block.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 517px;
}

.telephone {
  position: relative;
  bottom: -10%;
  left: 5%;
}

.two-block-block {
  position: relative;
  top: 16%;
  left: 6%;
  padding: 30px;
}

.one-block {
  border-radius: 25px;
  background-color: #d8def4;
  padding: 30px 35px;
  margin: 10px 15px 0 50px;
}

.block-card {
  border-radius: 23px;
  background-color: #ffffff;
  padding: 8px;
  height: 455px;
}

.card-img-bg {
  background-image: url("../assets/img/pink.jpg");
  border-radius: 17px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
}

.galka {
  position: absolute;
  bottom: -8%;
  right: -15%;
}

.symbol {
  background: url("../assets/img/symbol.svg");
  height: 55px;
  width: 55px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 35px;
  font-family: 'Cera Pro';
  line-height: 42px;
  font-weight: 900;
  color: #fff;
  width: 30%;
}

.sym-blue-text {
  width: 70%;
}

.divider-border {
  border-radius: 55px;
}

.red-block-text {
  color: #333333;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 1.2;
  font-weight: 600;
}

.negative-block {
  background: url("../assets/img/negative-block.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  padding: 30px 40px;
}

.negative-block-img {
  border-width: 1px;
  border-radius: 17px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #37416e;
  border-style: solid;
  box-shadow: 0px 5px 55px 0px rgba(62, 72, 91, 0.1);
  height: 110px;
  width: 110px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.nomer {
  border-width: 1px;
  border-radius: 3000px;
  background-color: #222941;
  background-position: center center;
  border-color: #262d48;
  border-style: solid;
  position: absolute;
  color: #fff8f8;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.2;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  right: -5%;
  bottom: -3%;
}

.abContainer {
  background: url("../assets/img/abbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  border-radius: 40px;
  
}

.abContainerNumber {
  border-width: 1px;
  border-radius: 48px;
  background-position: center center;
  border-color: #ffffff;
  border-style: solid;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 425px;
}

.abNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  opacity: 0.95;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  width: 68px;
  height: 40px;
  color: #2d3659;
  font-size: 22px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.abText {
  color: #ffffff;
  font-size: 19px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.abRow {
  padding-top: 15%;
}

.abContainerImg {
  position: absolute;
  border-radius: 25px;
  top: -30%;
  height: 600px;
}

.abTitle {
  color: #ffffff;
  font-size: 41px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.abText {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 500;
}

.abBtn {
  margin-top: 25px;
  width: 300px;
  height: 60px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.55;
  font-weight: 500;
  letter-spacing: -0.5px;
  border-radius: 14px;
  background-image: linear-gradient(0.405turn, rgba(233, 34, 140, 1) 26%, rgba(155, 36, 120, 1) 99%);
  border-color: transparent;
  border-style: solid;
  transition: background-color 0s ease-in-out, color 0s ease-in-out, border-color 0s ease-in-out;
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
}

.featImg {
  width: 70px;
  height: 70px;
}

.featText {
  color: #333333;
  font-size: 18px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 600;
}

.service-block {
  border-width: 1px;
  border-radius: 37px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #e2e2e2;
  border-style: solid;
  padding: 8px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.underBoard {
  border-width: 1px;
  border-radius: 37px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #e2e2e2;
  border-style: solid;
  padding: 40px 60px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.underBoardText {
  color: #333333;
  font-size: 20px;
  font-family: 'Cera Pro';
  line-height: 1.17;
  font-weight: 500;
}

.underBoardLine {
  height: 1px;
  width: 100%;
  background: lightgray;
}

.abDivider {
  background-image: linear-gradient(0.5turn, rgba(55, 65, 110, 1) 0%, rgba(34, 41, 65, 1) 100%);
  border-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 390px;
}

.abDividerContainer {
  border-width: 1px;
  border-radius: 55px;
  background-position: center center;
  border-color: #ffffff;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 505px;
}

.abDividerContainerText {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Cera Pro';
  line-height: 1.2;
  font-weight: 500;
  opacity: 1 !important;
}


.statyaTitle  {
  margin: 0;
  font-size: 30px;
  line-height: 1.3;
  font-family: 'Cera Pro';
  font-weight: 600;
}

.statyaText {
  font-family: 'Cera Pro';
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.statyaSmallTitle  {
  margin: 0;
  font-size: 22px;
  line-height: 1.3;
  font-family: 'Cera Pro';
  font-weight: 600;
}


.t-redactor__callout {
  padding: 30px 20px 28px 55px;
  position: relative;
  margin: 2rem 0;
  font-size: 18px;
  display: flex;
  gap: 10px
}

.statyaMedTitle {
  margin: 0;
  font-size: 28px;
  line-height: 1.3;
  font-family: 'Cera Pro';
  font-weight: 600;
}

.statyaDate {
  margin-top: 40px;
  font-size: 10px;
  color: rgba(0, 0, 0, .5);
  letter-spacing: 1.5px;
  font-family: 'Cera Pro';
  font-weight: 600;
}

.moreStatya {
  margin-top: 100px;
  margin-left: 40px;
}

.moreStatyaTitle  {
  font-family: 'Cera Pro';
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  line-height: 1.35;
}

.moreStatyaText {
  font-size: 14px;
  line-height: 1.55;
  font-family: 'Cera Pro';
  font-weight: 300;
  color: #000000;
}

.moreStatyaImg {
  width: 100px;
  height: 75px;
}

.chooseRow {
  border-width: 1px;
  border-radius: 27px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #e2e2e2;
  border-style: solid;
}

.chooseBlock {
  padding: 40px 80px;
}

.chooseRowPink {
  background: url("../assets/img/pink2.jpg");
  border-radius: 27px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
}

.chooseBlockPink {
  padding: 60px 50px;
}

.grayBlock {
  border-radius: 27px;
  background-color: #f5f5f7;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.grayBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 55px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}